@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: arial;
}

/*Para dispositivos com width menor que 768px*/
body {
	padding-top: 290px;
}

/*Para dispositivos com width maior ou igual a 768px*/
@media ( min-width : 768px) {
	body {
		padding-top: 140px;
		font-size: 14px;
	}
}

span {
	font-family: 'Open Sans', cursive;
	font-weight: bold;
	font-size: 22px;
}

.cabecalho {
	padding-top: 10px;
	background: #eee;
	color: #444;
	font-weight: bold;
	height: 70px;
	font-size: 150%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.time {
	color: #fff;
}

.btn-cabecalho {
	margin-top: 10%;
	padding: 8%;
	font-size: 100%;
}

h1 {
	color: #34495E;
	text-align: left;
	font-family: 'Montserrat', cursive;
}

h2 {
	color: #34495E;
	text-align: left;
	font-family: 'Montserrat', cursive;
}

h3 {
	color: #34495E;
	text-align: center;
	font-family: 'Montserrat', cursive;
}

h5 {
	color: #fff;
	text-align: center;
	font-family: 'Montserrat', cursive;
}

.numeroDaFase {
	color: #34495E;
	text-align: center;
	font-family: 'Montserrat', cursive;
	font-size: 80px;
}

.fa-heart {
	color: #DA4453;
}

.conteudo-centralizado {
	position: absolute;
	top: 50%;
	left: 25%;
	width: 50%;
	text-align: center;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	
}

.barra_vertical {
	margin: 10%;
	
	margin-top: -6%;
		//overflow-y: scroll;
}