@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: arial;
}

.cabecalho {
	padding-top: 10px;
	background: #eee;
	color: #444;
	font-weight: bold;
	height: 70px;
	font-size: 150%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.time {
	color: #fff;
}

.btn-cabecalho {
	margin-top: 10%;
	padding: 8%;
	font-size: 100%;
}

h1 {
	padding-left: 10%;
	margin-top: 45%;
	color: #fff;
	text-align: left;
	font-family: 'Montserrat', cursive;
	font-size: 100px;
}

h2 {
	padding-left: 10%;
	margin-top: 0.5%;
	color: #fff;
	text-align: left;
	font-family: 'Montserrat', cursive;
	font-size: 20px;
}

h3 {
	color: #fff;
	text-align: center;
	font-family: 'Montserrat', cursive;
	font-size: 325%;
}

h5 {
	color: #fff;
	text-align: center;
	font-family: 'Montserrat', cursive;
	font-size: 200%;
}

.numeroDaFase {
	color: #fff;
	text-align: center;
	font-family: 'Montserrat', cursive;
	font-size: 380%;
}

.fa-heart {
	color: #DA4453;
}