@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: arial;
}

body {
	font-size: 12px;
	font-family: 'Open Sans';
}

span {
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 22px;
}

.span-header{
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 22px;
}

h1 {
	color: #fff;
	text-align: left;
	font-family: 'Montserrat', cursive;
}

h3 {
	color: #34495E;
	text-align: center;
	font-family: 'Montserrat', cursive;
}

h5 {
	color: #fff;
	text-align: center;
	font-family: 'Montserrat', cursive;
}

h6 {
	color: #444;
}

a {
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter',
		'Lucida Typewriter', monospace;
	font-size: 9pt;
}

p {
	font-family: 'Open Sans';
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	line-height: 20px;
}

blockquote {
	font-family: 'Open Sans';
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
}

pre {
	font-family: 'Open Sans';
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	line-height: 18.5714px;
}

.fa-heart {
	color: #DA4453;
}

a:link, a:visited { 
  
   cursor: pointer;
}


.margem {
	padding: 5%;
}

.panel-body-questao {
	min-height: 300px;
	overflow-y: scroll;
}

.panel-body-opcoes {
	overflow-y: scroll;
}

.panel-body-resposta {
	overflow-y: scroll;
}

.list-group-item {
	padding: 1%;
}

.margem-acima {
	padding-top: 5%;
}

.panel-terminal {
	background-color: #444;
	color: #fff;
	white-space: pre;
	word-wrap: break-word; /* quebrar texto */
}

.panel-terminal:after {
	content: "";
	display: block;
	clear: both
}