@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: arial;
}

body {
	background-color: #47CEAC;
	background-image: url('../images/background/grid.png');
	background-repeat: repeat;
	background-position: right top;
}

h1 {
	color: #fff;
	text-align: left;
	font-family: 'Montserrat', cursive;
	font-size: 100px;
}

h3 {
	color: #fff;
	text-align: center;
	font-family: 'Montserrat', cursive;
	font-size: 325%;
}

h6 {
	color: #444;
}

a {
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter',
		'Lucida Typewriter', monospace;
	font-size: 10pt;
}

p {
	font-family: 'Open Sans';
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

blockquote {
	font-family: 'Open Sans';
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}

pre {
	font-family: 'Open Sans';
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

.fa-heart {
	color: #DA4453;
}

.panel-body-questao {
	min-height: 450px;
}