@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: arial;
}

h1 {
	color: #fff;
	text-align: left;
	font-family: 'Open Sans';
}

h2 {
	color: #fff;
	text-align: left;
	font-family: 'Open Sans';
}

h3 {
	color: #fff;
	text-align: center;
	font-family: 'Open Sans';
}

h4 {
	color: #fff;
	font-family: 'Open Sans';
}

h5 {
	color: #fff;
	text-align: center;
	font-family: 'Montserrat', cursive;
}

.numeroDaFase {
	color: #fff;	
	font-family: 'Montserrat', cursive;
	font-size: 70px;
}

.conteudo-centralizado {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    text-align: left;
    -webkit-transform: translateY( -50% );
    -moz-transform: translateY( -50% );
    transform: translateY( -50% );
}

p{
	color: #fff;
}